.cardsContainer {
    display: flex;
    flex-direction: column;

    max-width: 480px;
    min-width: 320px;
    margin: 25px auto;
}

.card {
    background-color: #86b8d5;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);

    border: 2px solid black;
    border-radius: 10px;

    margin: 0 0 20px;
    padding: 5px;
}

.cardTitle {
    font-weight: 700;
    font-size: 18px;
    padding: 5px 5px 10px;
    text-align: justify;
}

.cardBtn {
    padding: 5px 5px 0 10px;
}

.flexTitleAndBtn {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.cardBtn button{
    background-color: #94a4f5;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cardText {
    display: flex;
    padding: 0 5px 10px;

    text-align: justify;
}

.cardUserMail {
    display: flex;

    font-weight: 600;
    padding-left: 5px;
    line-height: 20px;
}

.cardUserName {
    display: flex;

    font-weight: 600;
    padding-left: 5px;
    line-height: 20px;
}

.body-animation {
    position: absolute;
    top: 52%;
    left: 50%;
    z-index: -5;
    height: 100vh;
    margin: 0;
}

.loading-animation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #3498db;
    border-top: 4px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}